/* HowItWorks styles */
@import "@USupport-components-library/styles";

.page__contact-us {
  background-image: url("./assets/contact-us-small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: $spacing_7_0;
  min-width: 40.7rem;

  @media screen and (min-width: $screen-md) {
    background-image: url("./assets/contact-us-big.png");
  }
}
