@import "@USupport-components-library/styles";

.question {
  padding: $spacing_4_0 $spacing_1_6 $spacing_5_6 $spacing_1_6;

  .grid {
    align-items: center;
  }

  &__heading-item {
    place-self: center;
    text-align: center;

    & p {
      text-align: center;
      margin-top: $spacing_2_4;
      margin-bottom: $spacing_2_4;
    }

    @media screen and (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__button {
    margin: 0 auto;
  }

  @media screen and (min-width: $screen-md) {
    padding: $spacing_4_8 0;
  }
}
