@import "@USupport-components-library/styles";

.contact-us {
  @include full-height-page-navbar;

  background-color: #e6f4fb;
  padding-bottom: $spacing_6_4;
  position: relative;
  text-align: left;

  .theme-dark &,
  .theme-highContrast & {
    background-color: transparent;
  }

  @media screen and (min-width: $screen-lg) {
    padding-top: $spacing_6_4;
  }

  &__main-grid {
    row-gap: $spacing_4_0;
    padding-top: $spacing_6_4;
    align-items: center;
  }

  &__mascot-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 38rem;
    margin-left: auto;
    margin-top: $spacing_3_2;

    @media screen and (min-width: $screen_md) {
      max-width: 34rem;
      margin-top: $spacing_6_4;
    }

    @media screen and (min-width: $screen_lg) {
      max-width: 56rem;
    }
  }

  &__form {
    padding-top: $spacing_2_0;
    max-width: 54rem;
  }
}
