@import "@USupport-components-library/styles";

.video-view {
  text-align: left;
  margin-top: $spacing_1_6;

  @media screen and (min-width: $screen-md) {
    padding: 0 $spacing_10_0;
  }
  @media screen and (min-width: $screen-lg) {
    padding: 0 $spacing_30_7;
  }

  &__main-grid {
    grid-gap: 0;
  }

  &__image-item {
    width: 100%;
    height: auto;
    max-height: 40rem;
    border-radius: $border_radius_1_2;
    object-fit: cover;

    @media screen and (min-width: $screen-md) {
      max-height: 60rem;
    }
  }

  &__labels-item {
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing_1_6;

    padding-top: $spacing_0_8;
    flex-wrap: wrap;

    .video-view__label {
      margin-top: $spacing_0_5;
      &:not(:last-child) {
        margin-right: $spacing_0_8;
      }
    }
  }

  &__video-container {
    width: 100%;
    margin-bottom: 16px;

    iframe {
      width: 100%;
      height: 300px;
      border-radius: 8px;
      border: none;

      @media screen and (min-width: 768px) {
        height: 400px;
      }

      @media screen and (min-width: 992px) {
        height: 500px;
      }
    }
  }

  &__cookie-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: $spacing_2_5;
    border-radius: $border_radius_2_5;
    margin-top: $spacing_1_2;
    box-shadow: $shadow_1;
    padding-block: 18rem;

    & .btn {
      margin-top: $spacing_1_0;
    }
  }

  &__embed-container {
    position: relative;
    padding-bottom: 56.25%; // 16:9 aspect ratio
    height: 0;
    overflow: hidden;
    width: 100%;
    border-radius: $border_radius_2_5;
    box-shadow: $shadow_1;
    margin-top: $spacing_1_2;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title-item {
    padding-top: $spacing_1_7;
  }

  &__details-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: $spacing_1_6;

    &__category {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      height: 2.2rem;
      // background-color: $color_blue_20809E_0_3;
      @include themifyCustom(
        $themes,
        "background-color",
        "color_blue_20809E_0_3",
        "color_gray_66768d"
      );
      border-radius: $border_radius_2_5;
      padding: 0 $spacing_1_2 0 $spacing_1_2;
      margin-left: 2rem;

      .small-text {
        font-weight: $font_bold;
        // color: $color_blue_3d527b;
        @include themifyCustom(
          $themes,
          "color",
          "color_blue_3d527b",
          "color_gray_c1d7e0"
        );
      }

      &:first-child {
        margin-left: 0;
      }
    }

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_0_8;
    }

    .icon {
      margin-right: $spacing_0_5;
      margin-left: $spacing_1_6;
    }
  }

  &__like-item {
    margin-left: auto;
    place-items: center;
  }

  &__body-item {
    padding-top: $spacing_2_5;
  }

  &__description-item {
    padding-top: $spacing_2_5;
  }
}
