@import "usupport-components-library/styles";

.page {
  padding-top: $spacing_6_6;

  @media screen and (min-width: 1050px) {
    padding-top: $spacing_7_0;
  }

  @media screen and (min-width: 1050px) {
    padding-top: $spacing_8_0;
  }

  &__emergency-button {
    bottom: 5vh;
    position: fixed;
    right: $spacing_1_6;
    z-index: $z_index_emergency_button;

    @media screen and (min-width: $screen-md) {
      right: $spacing_3_2;
    }
  }
}
