@import "@USupport-components-library/styles";

.about {
  padding: $spacing_3_2 $spacing_1_6 0 $spacing_1_6;
  text-align: left;
  background-color: rgba(244, 252, 253, 0.62);
  position: relative;

  &__main-grid {
    justify-items: center;
  }

  &__description-item {
    padding-top: $spacing_2_4;
    place-self: center;
    &__paragraph {
      max-width: 60rem;
    }
  }

  &__description-item-2 {
    padding-top: $spacing_2_4;
    place-self: end;
    &__paragraph {
      max-width: 60rem;
    }

    @media screen and (min-width: $screen-lg) {
      justify-self: center;
    }
  }

  &__icons-grid {
    max-width: 40rem;
    width: 100%;
    justify-self: end;

    @media screen and (min-width: $screen-lg) {
      justify-self: center;
    }
  }

  &__icon-item {
    text-align: center;
    &.first {
      margin-top: $spacing_4_0;
      place-self: end;
    }

    &.second {
      margin-top: $spacing_2_4;
      place-self: start;
    }
    &.third {
      place-self: end;
    }

    &.forth {
      place-self: start;
    }
  }
  &__mascot {
    width: 37.5rem;
    height: 15.33rem;
    margin-bottom: -$spacing_0_7;

    @media screen and (min-width: $screen-md) {
      margin-top: -$spacing_14_6;
      width: 31rem;
      height: 12.7rem;
    }

    @media screen and (min-width: $screen-lg) {
      width: 37.5rem;
      height: 15.33rem;
    }
  }

  .radial-background {
    @media screen and (min-width: $screen-md) {
      height: 60rem;
      width: 60rem;
    }
  }
}
