@import "/USupport-components-library/styles";

.download-app {
  padding-top: $spacing_3_2;
  background: $gradient_block;

  @media screen and (min-width: $screen-md) {
    padding-top: 0;

    &__content-item {
      display: flex;
      align-items: center;
    }
  }

  &__content-grid {
    justify-items: center;
  }

  &__heading-item {
    @media screen and (min-width: $screen-md) {
      place-self: start;
    }
  }

  &__sub-heading {
    @media screen and (min-width: $screen-md) {
      place-self: start;
    }
  }

  &__buttons-item {
    margin-top: $spacing_2_4;

    .btn--store:nth-of-type(2) {
      margin-top: $spacing_1_6;
    }

    @media screen and (min-width: $screen-md) {
      place-self: start;
    }
  }

  &__image-item {
    justify-self: center;

    @media screen and (min-width: $screen-lg) {
      place-self: end;
    }
  }

  &__image {
    margin: 0 auto;
    margin-top: $spacing_4_8;
    width: 27.2rem;
    margin-bottom: -$spacing_0_8;
  }
}
