@import "@USupport-components-library/styles";

.we-help {
  padding-top: 28rem;
  padding-bottom: $spacing_1_0;
  text-align: left;

  .mt-32 {
    margin-top: 3.2rem;
  }

  @media screen and (min-width: $screen-md) {
    padding-top: 10rem;
  }

  &__heading {
    place-self: center;
  }

  &__heading-text {
    color: $color_white_ff !important;
    padding-bottom: $spacing_7_2;

    @media screen and (min-width: $screen_lg) {
      padding-top: $spacing_7_2;
      padding-bottom: 0;
    }
  }

  .link {
    text-decoration: underline;
    color: $color_primary_20809e;
  }

  &__secondary-grid {
    place-items: center;

    &__text-one {
      padding-top: $spacing_2_4;
      justify-self: left;
    }

    &__descriptions-item {
      @media screen and (min-width: $screen-md) {
        margin-inline: $spacing_2_0;
      }
      @media screen and (min-width: $screen-lg) {
        margin-left: $spacing_9_6;
      }
    }

    &__text-two {
      padding-top: $spacing_2_0;
      @media screen and (min-width: $screen-lg) {
        padding-top: $spacing_2_0;
      }
    }

    &__text-three {
      padding-top: $spacing_2_0;
    }

    &__text-four {
      padding-top: $spacing_4_0;
    }
  }

  &__content-box {
    padding: $spacing_2_4;
    overflow: hidden;
    @media screen and (min-width: $screen-lg) {
      margin-top: $spacing_10_0;
      padding: $spacing_5_6 0 $spacing_9_0 0;
    }
  }

  &__mascot-item {
    padding-top: $spacing_1_6;

    @media screen and (min-width: $screen-md) {
      justify-self: center;
    }

    &__animation {
      width: 33rem;

      @media screen and (min-width: $screen-md) {
        width: 25rem;
      }
      @media screen and (min-width: $screen-lg) {
        width: 35rem;
      }
    }
  }
}
