@import "@USupport-components-library/styles";

.provider-profile {
  @include full-height-page-navbar;
  &__grid {
    padding-top: $spacing_2_4;
    place-items: center;

    &__item__consultations-with-icon {
      @media screen and (min-width: $screen_md) {
        place-self: start;
      }
    }

    &__controls {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 34.3rem;
    }

    &__change-password-button,
    &__delete-account-button {
      padding: 0;
      min-width: unset;
    }

    &__edit-button {
      margin-top: $spacing_4_0;
    }

    &__change-password-button {
      margin-top: $spacing_3_6;
    }

    &__delete-account-button {
      margin-top: $spacing_2_2;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: $spacing_1_0 0;

    @media screen and (min-width: $screen_md) {
      min-width: 55rem;
    }

    &__provider-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__avatar {
        width: 6.6rem;
        height: 6.6rem;
      }

      &__text-container {
        margin-left: $spacing_1_8;
        text-align: left;
      }
    }

    &__menu {
      position: absolute;
      right: 0;
      top: 5rem;
      display: flex;
      flex-direction: column;
      width: 16.1rem;
      padding: $spacing_1_7;
      z-index: 1;

      &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:not(:first-of-type) {
          margin-top: $spacing_1_2;
        }

        &__text-edit {
          margin-left: $spacing_1_2;
          color: $color_primary_20809e;
        }

        &__text-delete {
          margin-left: $spacing_1_2;
          color: $color_red_eb5757;
        }
      }
    }
  }

  &__information-container-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $spacing_2_0;

    &__icon {
      margin-right: $spacing_1_2;
    }
  }

  &__information-container {
    text-align: left;
    margin-top: $spacing_3_2;
    max-width: 34.3rem;

    &__heading.small-text {
      color: $color_blue_3d527b;
      font-weight: $font_bold;
      margin-top: $spacing_0_8;
    }

    &__text {
      margin-top: $spacing_0_8;
    }
  }
}
