@import "@USupport-components-library/styles";

.articles {
  @include full-height-page-navbar;

  padding-bottom: $spacing_3_2;
  // padding-top: $spacing_25_0;
  text-align: left;

  @media screen and (min-width: $screen-md) {
    padding-top: $spacing_3_2;
  }

  &__main-grid {
    grid-gap: $spacing_3_2;
    padding-inline: $spacing_1_2;
  }

  &__heading-text {
    color: $color_white_ff !important;
    // @include themify($themes, "color", "color_white_ff");
  }

  &__age-groups-item {
    @media screen and (min-width: $screen-lg) {
      justify-self: flex-start;
    }

    &__container {
      display: flex;
    }
  }

  &__search-item {
    padding-top: $spacing_2_4;

    @media screen and (min-width: $screen-lg) {
      padding-top: 0;
    }
  }

  &__articles-item {
    padding-top: $spacing_1_2;
    padding-bottom: $spacing_0_8;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_2_4;
    }
  }

  // New custom grid for responsive layout
  &__custom-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $spacing_1_2;

    @media screen and (min-width: $screen-md) {
      gap: $spacing_2_0;
    }

    @media screen and (min-width: $screen-lg) {
      gap: $spacing_2_4;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;

    & > * {
      height: 100%;
    }
  }

  @media screen and (max-width: calc($screen-md - 1px)) {
    &__custom-grid {
      grid-template-columns: 1fr;
    }

    &__card-wrapper {
      grid-column: span 1 !important;
    }
  }

  @media screen and (min-width: $screen-md) and (max-width: calc($screen-lg - 1px)) {
    &__custom-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card-wrapper {
      grid-column: span 1 !important;
    }
  }

  @media screen and (min-width: $screen-lg) {
    &__card-wrapper {
      &:nth-child(6n + 1),
      &:nth-child(6n + 2) {
        grid-column: span 6;
      }

      &:nth-child(6n + 3),
      &:nth-child(6n + 4),
      &:nth-child(6n + 5) {
        grid-column: span 4;
      }

      &:nth-child(6n + 6) {
        grid-column: span 12;
      }
    }
  }

  &__loading-item {
    display: flex;
    justify-content: center;
    padding-top: $spacing_4_0;
  }

  &__page-loading {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__no-results-container {
    text-align: center;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_15_3;
    }

    h3 {
      color: $color_white_ff !important;
      // @include themify($themes, "color", "color_white_ff");
    }
  }
}
