.video-tutorial {
  &__carousel {
    .react-multi-carousel-item {
      padding: 25px 8px; // 16px gaps between items
      box-sizing: border-box;
    }
  }

  &__slide {
    width: 100%;
  }

  &__player {
    width: 100%;

    .video-player__box__embed-container iframe {
      display: block;
      width: 100%;
    }
  }
}
