@import "@USupport-components-library/styles";

.my-qa {
  padding-top: $spacing_3_2;
  padding-bottom: 10rem;

  &__categories-item {
    overflow-x: auto;
    padding-top: $spacing_1_0;

    @media screen and (min-width: $screen-md) {
      width: auto;
      padding-top: $spacing_2_0;
    }

    &__language-dropdown {
      width: 34.4rem;
      text-align: left;
      margin-bottom: $spacing_1_2;
      margin-top: $spacing_1_2;
    }
  }

  &__button-item {
    place-self: center;

    @media screen and (min-width: $screen-md) {
      justify-self: center;
    }
    @media screen and (min-width: $screen-lg) {
      justify-self: end;
    }
  }

  &__tabs-grid {
    align-items: center;
    justify-items: stretch;

    &__search-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
      }
      @media screen and (min-width: $screen-lg) {
        flex-direction: row;
        justify-content: flex-start;
      }

      &__input {
        margin-bottom: $spacing_1_6;
        @media screen and (min-width: $screen-md) {
          margin-right: $spacing_1_6;
          margin-bottom: 0;
        }
      }
    }

    &__filter-button-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $spacing_2_2;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
      }
      @media screen and (min-width: $screen-lg) {
        justify-content: flex-start;
      }
    }

    &__filter-button {
      margin-block: $spacing_1_6;
      margin-inline: auto;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
        margin-left: $spacing_1_6;
      }
    }
  }

  &__ask-question-button {
    margin-top: $spacing_1_6;
    max-width: 10rem;
    margin-inline: auto;

    @media screen and (min-width: $screen-md) {
      max-width: 34rem;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 0;
    }
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $spacing_1_6;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen_md) {
        margin: 0;
      }
    }
  }

  &__questions-item {
    &__no-data {
      padding-bottom: $spacing_4_0;
    }
  }

  &__answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $spacing_4_6;
  }

  &__answer {
    margin-top: $spacing_2_4;
  }
}
