@import "@USupport-components-library/styles";

.my-qa {
  padding: $spacing_3_2;

  &__categories-item {
    overflow-x: auto;
    width: 35rem;
    padding-top: $spacing_1_0;

    @media screen and (min-width: $screen-md) {
      width: auto;
      margin: auto;
      padding-top: $spacing_2_0;
    }
  }

  &__tabs-grid {
    align-items: center;
    justify-items: stretch;
  }

  &__questions-item {
    margin-top: $spacing_1_2;
  }

  &__ask-question-button {
    max-width: 10rem;
    margin: 0 auto;
  }

  &__answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $spacing_4_6;
  }

  &__answer {
    margin-top: $spacing_2_4;
  }
}
