@import "@USupport-components-library/styles";

.my-qa {
  padding-top: $spacing_3_2;

  &__controls-item {
    position: relative;
    z-index: $z_index_modal;
    overflow: visible;
  }

  &__answers-item {
    position: relative;
    z-index: $z_index_1;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $spacing_2_4;

    &__button {
      @media screen and (min-width: $screen-md) {
        min-width: 34.4rem;
        max-width: 34.4rem;
      }
    }
  }

  &__tabs-grid {
    align-items: center;
    justify-items: stretch;
    overflow: visible;

    &__search-container {
      position: relative;
      z-index: $z_index_modal;
      overflow: visible;
    }

    &__search-container {
      &__tabs {
        display: flex;
      }

      &__dropdown {
        padding: $spacing_1_2 0;
        text-align: left;
        margin-bottom: $spacing_1_2;
        margin-top: $spacing_1_2;
        position: relative;
        z-index: $z_index_modal;
        overflow: visible;

        @media screen and (min-width: $screen-md) {
          width: 34.4rem;
        }

        @media screen and (min-width: $screen-lg) {
          max-width: 36rem;
          padding: 0;
          margin-left: auto;
          margin-right: 0;
        }

        .dropdown-container,
        .dropdown {
          overflow: visible;
        }

        .dropdown .dropdown-content {
          width: calc(100% - #{$spacing_1_6});
          max-width: 100%;
          margin-right: 0;
          left: auto;
          right: 0;
          overflow: hidden;
        }
      }
    }

    &__filter-button-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $spacing_2_2;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
      }
      @media screen and (min-width: $screen-lg) {
        // justify-content: flex-start;
      }
    }

    &__filter-button {
      margin-block: $spacing_1_6;
      margin-inline: auto;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
        margin-left: $spacing_1_6;
      }
    }
  }

  &__button-item {
    &__button {
      margin-top: $spacing_1_2;
      margin-inline: auto;
    }
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $spacing_1_6;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen_md) {
        margin: 0;
      }
    }
  }

  &__answers-container {
    padding-bottom: $spacing_4_6;

    &__no-questions {
      padding-block: 100px;
    }
  }

  &__empty-card {
    width: 100%;
    padding-top: $spacing_2_0;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_3_2;
    }
  }
}
