@import "@USupport-components-library/styles";

.my-qa {
  padding-top: $spacing_3_2;

  &__categories-item {
    overflow-x: auto;
    padding-top: $spacing_1_0;

    @media screen and (min-width: $screen-md) {
      width: auto;
      padding-top: $spacing_2_0;
    }

    &__language-dropdown {
      width: 34.4rem;
      text-align: left;
      margin-bottom: $spacing_1_2;
      margin-top: $spacing_1_2;
    }
  }

  &__button-item {
    place-self: center;

    @media screen and (min-width: $screen-md) {
      justify-self: end;
    }
  }

  &__tabs-grid {
    align-items: center;
    justify-items: stretch;

    &__filter-button {
      margin-top: $spacing_1_6;
      float: right;
    }
  }

  &__ask-question-button {
    margin-top: $spacing_1_6;
    max-width: 10rem;
    float: right;
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $spacing_1_6;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen_md) {
        margin: 0;
      }
    }
  }

  &__questions-item {
    &__no-data {
      padding-bottom: $spacing_4_0;
    }
  }

  &__answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $spacing_4_6;
  }

  &__answer {
    margin-top: $spacing_2_4;
  }
}
