@import "@USupport-components-library/styles";

.find-yourself {
  padding-top: 0;
  padding-bottom: $spacing_6_5;
  text-align: left;

  @media screen and (min-width: $screen-md) {
    padding-bottom: $spacing_9_0;
  }
  @media screen and (min-width: $screen-lg) {
    padding-bottom: $spacing_12_0;
  }

  &__grid {
    justify-content: center;
  }

  &__heading-item {
    width: 100vw;
    background-repeat: no-repeat;
    height: 26rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 40.7rem;

    .no-webp & {
      background-image: url("./assets/BeYourBestSelf.png");
    }
    .webp & {
      background-image: url("./assets/BeYourBestSelf.webp");
    }

    @media screen and (min-width: $screen-md) {
      height: 41.9rem;

      .no-webp & {
        background-image: url("./assets/BeYourBestSelfDesktop.png");
      }
      .webp & {
        background-image: url("./assets/BeYourBestSelfDesktop.webp");
      }
    }

    h2,
    p {
      color: $color_white_ff;
    }
  }

  &__text-item {
    width: 100vw;
    @include themify($themes, "background-color", "color_purple_200e2f");
    margin-top: -$spacing_0_8;
    padding: $spacing_2_6 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40.7rem;

    h2,
    p {
      @include themify($themes, "color", "color_white_ff");
    }
  }

  &__text {
    padding: 0 $spacing_2_4;
    max-width: 75rem;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_3_2;
    }

    &__content {
      padding-top: $spacing_2_4;
    }
  }

  &__image-item {
    align-items: center;
    border-radius: $border_radius_4_0;
    display: flex;
    height: 22rem;
    justify-content: center;
    position: relative;
    width: 34.3rem;

    @media screen and (min-width: $screen-lg) {
      height: 22rem;
      width: 36.8rem;
    }

    &.box {
      background-repeat: no-repeat;
      background-size: cover;
      justify-self: center;
    }

    &.box-1 {
      .no-webp & {
        background-image: url("./assets/NeedHelp.png");
      }
      .webp & {
        background-image: url("./assets/NeedHelp.webp");
      }
      margin-top: $spacing_4_8;
      @media screen and (min-width: $screen-md) {
        place-self: end;
      }
    }

    &.box-2 {
      .no-webp & {
        background-image: url("./assets/OnlineConsultations.png");
      }
      .webp & {
        background-image: url("./assets/OnlineConsultations.webp");
      }
      margin-top: $spacing_3_2;
      @media screen and (min-width: $screen-md) {
        margin-top: $spacing_4_8;
        place-self: start;
      }
    }

    &.box-3 {
      .no-webp & {
        background-image: url("./assets/FreeResources.png");
      }
      .webp & {
        background-image: url("./assets/FreeResources.webp");
      }
      margin-top: $spacing_3_2;
      @media screen and (min-width: $screen-md) {
        margin-top: $spacing_4_8;
        place-self: end;
      }
    }

    &.box-4 {
      .no-webp & {
        background-image: url("./assets/EasyAndSelfAccess.png");
      }
      .webp & {
        background-image: url("./assets/EasyAndSelfAccess.webp");
      }
      margin-top: $spacing_3_2;
      @media screen and (min-width: $screen-md) {
        margin-top: $spacing_4_8;
        place-self: start;
      }
    }

    & > .overlay {
      @include themify($themes, "background-color", "color_black_010101");
      border-radius: $border_radius_4_0;
      height: inherit;
      position: absolute;
      width: inherit;
      z-index: $z_index_1;
    }

    h3 {
      color: $color_white_ff;
      position: relative;
      text-align: center;
      z-index: $z_index_2;
    }
  }
}
