/* HowItWorks styles */
@import "@USupport-components-library/styles";

.page__how-it-works {
  background-image: url("./assets/how-it-works-small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: $spacing_7_0;
  min-width: 40.7rem;

  @media screen and (min-width: $screen-md) {
    background-image: url("./assets/how-it-works-big.png");
  }
  &__faq-item {
    padding-top: $spacing_5_6;
    padding-bottom: $spacing_6_4;
    justify-self: center;
    max-width: 93rem;

    @media screen and (min-width: $screen-lg) {
      width: 93rem;
    }
  }
}
