/* HowItWorks styles */
@import "usupport-components-library/styles";

.page__how-it-works {
  &__faq-item {
    padding-top: $spacing_5_6;
    padding-bottom: $spacing_6_4;
    justify-self: center;
    max-width: 93rem;

    @media screen and (min-width: $screen-lg) {
      width: 93rem;
    }
  }
}
