@import "@USupport-components-library/styles";
.hero-wrapper {
  @include themify($themes, "background", "color_white_ff");
}

.hero {
  .no-webp & {
    background-image: url("./assets/Background.png");
  }
  .webp & {
    background-image: url("./assets/Background.webp");
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position: center;
  text-align: left;
  padding-bottom: $spacing_2_4;
  padding-top: $spacing_5_0;
  position: relative;

  @media screen and (min-width: $screen-md) {
    padding-bottom: $spacing_8_0;
  }

  @media screen and (min-width: $screen-lg) {
    padding-top: $spacing_10_0;
    padding-bottom: $spacing_16_0;
  }

  &__main-grid {
    justify-items: center;
  }

  &__content-grid {
    justify-items: center;

    @media screen and (min-width: $screen-md) {
      justify-items: start;
    }
  }

  &__heading-item {
    place-self: start;

    & h1 {
      @include themify($themes, "color", "color_3d527b_white");
    }

    span {
      @include themify($themes, "color", "color_blue_yellow");
    }
  }

  &__text-item {
    padding-top: $spacing_2_4;

    & p {
      @include themify($themes, "color", "color_66768d_c1d7e0");
    }
  }

  &__buttons-item {
    margin-top: $spacing_2_4;

    .btn--store:nth-of-type(2) {
      margin-top: $spacing_1_6;
    }
  }

  &__collage-item {
    padding-top: $spacing_2_4;
    align-self: center;

    @media screen and (min-width: $screen-md) {
      padding-top: 0;
      justify-self: end;
    }

    img {
      width: 24rem;
      height: auto;

      @media screen and (min-width: $screen-md) {
        width: 30rem;
        margin-left: -31rem;
      }

      @media screen and (min-width: 1000px) {
        width: 36rem;
        margin-left: -39rem;
      }

      @media screen and (min-width: $screen-lg) {
        width: 53.6rem;
      }
    }
  }

  &__unicef-logo-container {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $screen-md) {
      position: block;
    }
  }

  &__unicef-logo {
    width: 14rem;
    height: auto;

    @media screen and (min-width: $screen-md) {
      width: 10rem;
      position: absolute;
      right: -3rem;
      top: -3rem;
    }

    @media screen and (min-width: $screen-lg) {
      width: 14rem;
      right: -7rem;
      top: -8rem;
    }
  }
}
