@import "@USupport-components-library/styles";

.information-portal {
  padding-bottom: $spacing_0_8;

  &__paragraphs {
    text-align: left;
  }

  &__main-grid {
    row-gap: $spacing_4_0;
  }
  &__secondary-cards:not(:first-child) {
    margin-top: $spacing_2_0;
  }
}
