@import "@USupport-components-library/styles";

.custom-about-us {
  //   @include full-height-page-navbar;
  padding: $spacing_3_4 $spacing_1_5 $spacing_4_0 $spacing_1_5;
  padding-top: 28rem;

  @media screen and (min-width: $screen-lg) {
    padding: $spacing_3_4 $spacing_40_3 $spacing_4_0 $spacing_40_3;
    padding-top: 32rem;
  }

  &--rtl {
    & .markdown {
      direction: rtl !important;
      text-align: right !important;
    }
  }

  &__box {
    padding: $spacing_2_4 $spacing_1_6;
  }
}
