@import "/USupport-components-library/styles";

.footer {
  background-color: $color_green_f4f7fe;
  padding-top: $spacing_4_8;

  @media screen and (min-width: $screen-lg) {
    padding-top: $spacing_6_4;
  }

  &__logo {
    padding-bottom: $spacing_3_2;
  }

  &__icon {
    &:not(:last-child) {
      margin-right: $spacing_2_4;
    }
  }

  &__items-list {
    padding-top: $spacing_4_0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $screen-lg) {
      padding-top: 0;
      justify-self: end;

      &:nth-child(2),
      &:nth-child(3) {
        justify-self: center;
      }
    }

    .list__item {
      padding-bottom: $spacing_1_6;
      text-align: left;

      @media screen and (min-width: $screen-md) {
        text-align: center;
      }
    }
  }

  &__contact-us {
    align-self: center;
    padding-bottom: $spacing_1_6;
  }

  &__contact-detail {
    display: flex;
    &:not(:first-child) {
      padding-top: $spacing_1_6;
    }
    text-align: left;

    &__icon {
      margin-right: $spacing_1_6;
    }
    .paragraph {
      padding-left: $spacing_2_4;
    }
  }

  @media screen and (min-width: $screen-lg) {
    &__contact-us {
      align-self: flex-start;
    }
  }

  &__copy-right {
    padding: $spacing_4_0 0;
  }
}
