@import "@USupport-components-library/styles";

.mascot-header-my-qa {
  padding: 0;
  min-width: 41.5rem;

  &__banner {
    text-align: left;
    background: $gradient_block;

    border-radius: 0 0 0 $spacing_10_0;
    padding: $spacing_1_6 $spacing_1_6 $spacing_1_6 0;
  }

  &__mascot-item {
    margin-top: $spacing_0_4;

    @media screen and (min-width: $screen-md) {
      margin-top: $spacing_2_4;
      place-self: center;
    }

    &__mascot {
      width: calc(23.9rem / 2);

      @media screen and (min-width: $screen-md) {
        width: 22.9rem;
      }
    }
  }

  &__headings-item {
    display: flex;
    flex-direction: column;
    padding: $spacing_0_8 0 0 $spacing_2_2;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_5_0;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen-md) {
        margin: 0 auto;
      }
    }

    & .heading {
      // color: $color_blue_263238;
      @include themify($themes, "color", "color_blue_263238");
    }

    & .subheading {
      padding-top: $spacing_1_6;
    }

    &__span {
      text-transform: capitalize;
    }
  }
}
