@import "@USupport-components-library/styles";

.how-it-works {
  @media screen and (min-width: $screen-lg) {
    padding-bottom: $spacing_10_0;
  }

  &__heading,
  &__text-item {
    width: 100%;
  }

  &__heading-text {
    text-align: left;

    &__highlight {
      color: $color_6a4ffb_8c90eb;
    }
  }

  &__text-item {
    text-align: left;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_2_4;
    }
  }

  &__image-collage-item {
    padding-top: $spacing_3_2;
    place-self: center;

    img {
      width: 55rem;
    }
  }

  &__tablet-image-container {
    padding-top: $spacing_5_4;

    img {
      max-width: 35rem;
    }
  }

  &__download-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $spacing_4_0;

    &__store {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $screen-lg) {
        flex-direction: row;
      }

      & .btn {
        margin-top: $spacing_2_0;

        @media screen and (min-width: $screen-lg) {
          margin-right: $spacing_2_0;
        }
      }
    }

    @media screen and (min-width: $screen-lg) {
      margin-top: $spacing_5_4;
    }
  }

  &__summary-text-bellow {
    padding-top: $spacing_4_0;
    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_5_4;
    }
  }

  .grid {
    justify-items: center;
  }

  .card-number {
    margin-top: $spacing_8_0;

    @media screen and (min-width: $screen-lg) {
      margin-top: $spacing_5_6;
    }
  }
}
