@import "@USupport-components-library/styles";

.article-view {
  text-align: left;

  @media screen and (min-width: $screen-lg) {
    padding: 0 $spacing_30_7;
  }

  &__main-grid {
    grid-gap: 0;
  }

  &__image-item {
    width: 100%;
    height: 40rem;
    border-radius: $border_radius_1_2;
    @media screen and (min-width: $screen-md) {
      height: 80rem;
    }
  }

  &__labels-item {
    display: flex;
    flex-direction: row;

    padding-top: $spacing_0_8;
    flex-wrap: wrap;

    .article-view__label {
      margin-top: $spacing_0_5;
      &:not(:last-child) {
        margin-right: $spacing_0_8;
      }
    }
  }

  &__title-item {
    padding-top: $spacing_1_7;
  }

  &__details-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: $spacing_1_6;

    &__category {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      height: 2.2rem;
      background-color: $color_blue_20809E_0_3;
      border-radius: $border_radius_2_5;
      padding: 0 $spacing_1_2 0 $spacing_1_2;
      margin-left: 2rem;

      .small-text {
        font-weight: $font_bold;
        color: $color_blue_3d527b;
      }
    }

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_0_8;
    }

    .icon {
      margin-right: $spacing_0_5;
      margin-left: $spacing_1_6;
    }
  }

  &__body-item {
    padding-top: $spacing_2_5;
  }
}
