@import "@USupport-components-library/styles";

.question-details {
  position: relative;

  &__date-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: $spacing_2_4;

    &__text {
      margin-left: $spacing_0_4;
      color: $color_gray_92989b;

      &--dark {
        color: $color_blue_c1d7e0;
      }
    }
  }

  &__heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    &__text {
      color: $color_primary_20809e;
    }
  }

  &__labels-container {
    margin-top: $spacing_0_2;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__label {
      margin: 0 $spacing_0_4 $spacing_0_4 $spacing_0_4;
    }
  }

  &__answer-text {
    margin-top: $spacing_0_8;
    font-family: $font_family;
  }

  &__bottom-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: $spacing_1_6;
    }

    &__archive-button {
      margin-top: $spacing_0_8;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }

  &__answered-by-container {
    display: flex;
    flex-direction: "row";
    margin-top: $spacing_1_0;

    &__avatar {
      margin: 0 $spacing_0_4;
      cursor: pointer;
    }

    &__provider-name {
      cursor: pointer;
    }
  }

  &__schedule-button {
    margin-top: $spacing_2_6;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    @media screen and (min-width: $screen-md) {
      margin-top: 0;
    }

    > .text {
      margin-left: $spacing_1_4;
      color: $color_primary_20809e;
    }
  }
}
