/* HowItWorks styles */
@import "@USupport-components-library/styles";

.page__information-portal {
  min-width: 40.7rem;

  .information-portal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (min-width: $screen-md) {
    .information-portal-image {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
        opacity: 1;
      }
    }
  }

  & .tabs-underlined-container {
    justify-content: center;
    max-width: unset;
  }
}
