@import "@USupport-components-library/styles";

.coupon-information {
  padding-top: $spacing_5_0;

  & h2 {
    @include themify($themes, "color", "color_66768d_c1d7e0");
  }

  &__content-grid {
    text-align: left;

    & h4 {
      margin-top: $spacing_2_6;
      @include themify($themes, "color", "color_3d527b_20809e");
    }

    & p {
      margin-top: $spacing_1_2;
    }

    &__reason-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 30rem;
      margin: $spacing_2_8 auto;

      & img {
        width: 7rem;
      }

      & .icon--lg {
        width: 7rem;
        height: 7rem;
      }

      & .text {
        margin: 0;
        margin-left: $spacing_1_4;
      }
    }
  }
}
