/* CustomAboutUs styles */
@import "@USupport-components-library/styles";

.page__custom-about-us {
  min-width: 40.7rem;
  position: relative;

  &--ps {
    min-width: 35.7rem;
  }

  &__hero-image {
    position: relative;
    z-index: 0;
    width: 100%;
    picture,
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &--ps &__hero-image {
    margin-top: $spacing_1_0;
    z-index: 0;

    @media screen and (min-width: $screen-md) {
      margin-top: $spacing_7_0;
    }
  }

  & .custom-about-us {
    position: relative;
    z-index: 2;
  }

  & .contact-us {
    padding-top: 0;
    background-image: none;
  }
}
