/* AboutUs styles */
@import "@USupport-components-library/styles";

.page__about-us {
  background-image: url("./assets/about-us-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: $spacing_7_0;
  min-width: 40.7rem;

  @media screen and (min-width: $screen-md) {
    background-image: url("./assets/about-us.png");
  }
  &__radial-circle {
    position: absolute;
    right: 0;
    & > radial-background {
      width: 50rem;
      height: 50rem;
    }
  }

  & .contact-us {
    padding-top: 0;
    background-image: none;

    &__heading {
      color: $color_gray_66768d !important;
    }
  }
}
