@import "@USupport-components-library/styles";

.meet-our-providers-overview {
  @include themify($themes, "background", "color_green_transparent_1");
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media screen and (min-width: $screen-lg) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__grid {
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 4rem;
    width: 100%;

    > * {
      width: 100%;
      min-width: 0;
    }

    @media screen and (min-width: $screen-lg) {
      grid-gap: 5.6rem;
    }
  }

  &__content-grid {
    justify-items: stretch;
    align-items: stretch;
    width: 100%;

    > * {
      width: 100%;
      min-width: 0;
    }
  }

  &__content-grid__text-container {
    text-align: left;
    width: 100%;
  }

  &__heading {
    font-size: $font_size_3_2;
    line-height: $line_height_3_8;

    @media screen and (min-width: $screen-lg) {
      font-size: $font_size_6_4;
      line-height: $line_height_7_7;
    }
  }

  &__text {
    text-align: left;
    margin-top: $spacing_2_4;
    font-size: $font_size_1_8;
    line-height: $line_height_2_8;

    @media screen and (min-width: $screen-lg) {
      margin-top: $spacing_3_2;
    }
  }

  &__card {
    margin: 0 auto;
    margin-top: $spacing_1_6;
    width: 100%;
    max-width: calc(100% - 2 * $spacing_2_0);
  }

  &__carousel {
    .react-multi-carousel-item {
      padding: $spacing_1_6;
      box-sizing: border-box;
      min-width: 0 !important; // override CustomCarousel's default min-width
    }
  }

  &__slide {
    box-sizing: border-box;
    width: 100%;
  }

  &__button-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
