@import "@USupport-components-library/styles";

.meet-our-providers-overview {
  @include themify($themes, "background", "color_green_transparent_1");
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media screen and (min-width: $screen-lg) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  & h2 {
    @include themify($themes, "color", "color_66768d_c1d7e0");
  }

  & h4 {
    @include themify($themes, "color", "color_3d527b_20809e");
  }

  &__grid {
    place-items: center;
    grid-gap: 4rem;

    @media screen and (min-width: $screen-lg) {
      grid-gap: 5.6rem;
    }
  }

  &__content-grid {
    place-items: center;
  }

  &__text {
    text-align: left;
    margin-top: $spacing_2_4;

    @media screen and (min-width: $screen-lg) {
      margin-top: 6.4rem;
    }
  }

  &__card {
    margin: 0 auto;
    margin-top: $spacing_1_6;
  }
}
